@model SiliconValley.InformationSystem.Entity.ViewEntity.vierprice
@using SiliconValley.InformationSystem.Entity.ViewEntity
@using SiliconValley.InformationSystem.Entity.MyEntity
@{ 
    var list = ViewBag.reviewList as List<SiliconValley.InformationSystem.Entity.Entity.Paymentverification>;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Entryreview</title>
    <link href="~/Scripts/layui/css/layui.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>

    <script src="~/Areas/Teachingquality/js/AjaxAddupdate.js"></script>
    <style>
        .site-doc-icon li .layui-anim {
            width: 150px;
            height: 150px;
            line-height: 150px;
            margin: 0 auto 10px;
            text-align: center;
            background-color: #009688;
            cursor: pointer;
            color: #fff;
            border-radius: 50%;
        }

        #table1 td {
            padding-top: 20px;
        }

        #No {
            position: absolute;
            right: 330px;
            top: 20px;
            background-image: url('/Areas/Teachingquality/images/审批.png');
            width: 140px;
            height: 120px;
            background-position-x: -80px;
            background-position-y: -60px;
            /*filter: alpha(opacity:30);*/
        }

        #Yes {
            position: absolute;
            right: 330px;
            top: 20px;
            background-image: url('/Areas/Teachingquality/images/审批.png');
            width: 140px;
            height: 120px;
            background-position-x: -260px;
            background-position-y: -60px;
        }
    </style>
</head>
<body>
    @if (ViewBag.Passornot == "1")
    {
        <div id="Yes"></div>
    }
    else if (ViewBag.Passornot == "2")
    {
        <div id="No"></div>
    }
    else if (ViewBag.Passornot == "3")
    {
        <div id="Revoke"></div>
    }
    <input type="text" id="ids" style="display:none;" value="@ViewBag.id" />
    <div style="float:left">
        <ul class="layui-timeline">

            @{
                int Total = 0;
                foreach (var item in ViewBag.vier as List<vierprice>)
                {
                    decimal db = 0;
                    <li class="layui-timeline-item">
                        <i class="layui-icon layui-timeline-axis"></i>
                        <div class="layui-timeline-content layui-text">
                            @foreach (var item1 in item.Chicked)
                            {

                                db += item1.Amountofmoney;
                                Total += Convert.ToInt32(item1.Amountofmoney);

                            }
                            <h3 class="layui-timeline-title">@item.Date (@db)</h3>

                            @foreach (var s in item.Chicked.OrderBy(a => a.Rategory).ToList().Select(a => a.Rategory).ToList().Distinct().ToList())
                            {
                                <p>@s</p>
                                foreach (var item1 in item.Chicked)
                                {
                                    if (item1.Rategory == s)
                                    {
                                        <ul>
                                            <li>@item1.GrandName @item1.CostitemName,缴纳: @item1.Amountofmoney</li>
                                        </ul>
                                    }
                                }

                            }


                        </div>
                    </li>
                }
            }


        </ul>
    </div>
    <div style="float:right;margin-left:-30px;width:300px;">
        @{

            var student = ViewBag.student as StudentInformation;
            <table id="table1">
                <tr>
                    <td>学号：</td>
                    <td>@student.StudentNumber</td>
                </tr>
                <tr>
                    <td>姓名：</td>
                    <td>@student.Name</td>
                </tr>
                <tr>
                    <td>身份证：</td>

                    <td>@student.identitydocument</td>
                </tr>
                <tr>
                    <td>单号：</td>
                    @{
                        foreach (var item in list)
                        {
                            <td> <input type="text" id="OddNumbers" lay-verify="required|number" value="@item.OddNumbers" placeholder="单号" class="layui-input" /></td>
                        }
                    }


                </tr>
                <tr>
                    <td>收款方式：</td>
                    @{
                        foreach (var item in list)
                        {
                            <td> <input type="text" id="paymentmethod" lay-verify="required"value="@item.Paymentmethod" placeholder="收款方式" class="layui-input" /></td>
                        }
                    }
                   
                </tr>

            </table>
        }
    </div>

</body>
</html>


