@{
    Layout = null;
}
@using SiliconValley.InformationSystem.Entity.MyEntity

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link href="~/Scripts/layui/css/layui.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/layui/layui.js"></script>
</head>
<body>
    @{
        OvertimeRecord overtime = Model as OvertimeRecord;
    }
    <div>
        <form class="layui-form" action="" lay-filter="over">
            <input type="hidden" name="Id" value="@overtime.Id" />
            <div class="layui-container" style="margin-top:20px;">
                <div class="layui-row layui-form-item">
                    <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                        <label class="layui-form-label">姓名:</label>
                        <div class="layui-input-block">
                            <input type="text" readonly class="layui-input" style="border:0px;" value="@ViewBag.EmpName" />
                        </div>
                    </div>
                </div>
                <div class="layui-row layui-form-item">
                    <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                        <label class="layui-form-label" style="width:120px;margin-left:-40px;">开始时间:</label>
                        <div class="layui-input-block" style="width:190px;">
                            <input type="text" name="StartTime" id="StartTime" class="layui-input" value="@overtime.StartTime" />
                        </div>
                    </div>
                    <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                        <label class="layui-form-label" style="width:120px;margin-left:-40px;">结束时间:</label>
                        <div class="layui-input-block" style="width:190px;">
                            <input type="text" name="EndTime" id="EndTime" class="layui-input" value="@overtime.EndTime" />
                        </div>
                    </div>
                </div>
                <div class="layui-row layui-form-item">
                    <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                        <label class="layui-form-label" style="width:120px;margin-left:-40px;">加班类型:</label>
                        <div class="layui-input-inline" style="width:190px;">
                            <select name="OvertimeTypeId" id="OvertimeTypeId" lay-filter="OvertimeTypeId" class="layui-input"></select>
                            <input type="hidden" id="type" value="@overtime.OvertimeTypeId" />
                        </div>
                    </div>
                    <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                        <label class="layui-form-label" style="width:120px;margin-left:-40px;">加班时长:</label>
                        <div class="layui-input-block" style="width:190px;">
                            @*<select name="Duration" id="Duration" class="layui-input"></select>*@
                            <input type="text" name="Duration" class="layui-input" value="@overtime.Duration" />
                            <input type="hidden" id="Dur" value="@overtime.Duration" />
                        </div>
                    </div>
                </div>
                <div class="layui-row layui-form-item">
                    <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                        <label class="layui-form-label" style="width:120px;margin-left:-40px;">是否调休:</label>
                        <div class="layui-input-inline" style="width:190px;">
                            @{
                                if (@overtime.IsNoDaysOff == true)
                                {

                                    <input type="radio" name="IsNoDaysOff" value="false" title="调休" checked>
                                    <input type="radio" name="IsNoDaysOff" value="true" title="不调休">
                                }
                                else
                                {
                                    <input type="radio" name="IsNoDaysOff" value="false" title="调休">
                                    <input type="radio" name="IsNoDaysOff" value="true" title="不调休" checked>

                                }
                            }
                            <input type="hidden" name="NoDaysOff" value="@overtime.IsNoDaysOff" />
                        </div>
                    </div>
                    <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                        <label class="layui-form-label" style="width:120px;margin-left:-40px;">是否禁用:</label>
                        <div class="layui-input-inline" style="width:190px;">
                            @{
                                if (@overtime.IsPass == true)
                                {
                                    <input type="radio" name="IsPass" value="true" title="是" checked>
                                    <input type="radio" name="IsPass" value="false" title="否">
                                }
                                else
                                {
                                    <input type="radio" name="IsPass" value="true" title="是">
                                    <input type="radio" name="IsPass" value="false" title="否" checked>
                                }
                            }
                            <input type="hidden" name="Pass" value="@overtime.IsPass" />
                        </div>
                    </div>

                </div>
                <div class="layui-row layui-form-item">
                    <div class="layui-col-xs12 layui-col-sm12 layui-col-md12">
                        <label class="layui-form-label" style="width:120px;margin-left:-40px;">加班原因:</label>
                        <div class="layui-input-block">
                            <textarea name="OvertimeReason" style="height:70px" class="layui-input">@overtime.OvertimeReason</textarea>
                        </div>
                    </div>
                </div>

                <div class="layui-row layui-form-item">
                    <div class="layui-col-xs12 layui-col-sm12 layui-col-md12">
                        <label class="layui-form-label" style="width:120px;margin-left:-40px;">备注:</label>
                        <div class="layui-input-block">
                            <textarea name="Remark" style="height:70px" class="layui-input">@overtime.Remark</textarea>
                        </div>
                    </div>
                </div>
            </div>

            <div class="layui-form-item" style="margin-left:200px;margin-top:20px;">
                <div class="layui-input-block">
                    <button class="layui-btn " lay-submit="" type="button" lay-filter="demo">立即提交</button>
                    @*<button class="layui-btn " id="btnclose1">关闭</button>*@
                </div>
            </div>
        </form>
    </div>
    <script>
        layui.use(['layer', 'form', 'laydate'], function () {
            var layer = layui.layer;
            var form = layui.form;
            var laydate = layui.laydate;


            laydate.render({
                elem: "#EndTime",
                type: "datetime",
                isInitValue: true,
                value: new Date(Date.parse($("#EndTime").val().replace(/-/g, "/")))
            })
            laydate.render({
                elem: "#StartTime",
                type: "datetime",
                isInitValue: true,
                value: new Date(Date.parse($("#StartTime").val().replace(/-/g, "/")))
            })

            form.on("submit(demo)", function (obj) {
                var data = obj.field;
                console.log(data);
                if (!data.NoDaysOff|| data.Pass) {
                    $("#type").val(0)
                    $("#Dur").val(0)
                }

                console.log(data);
                $.ajax({
                    url: "/Personnelmatters/AttendanceStatistics/OvertimeEdit",
                    type: "post",
                    data: JSON.stringify({
                        "over": data,
                        "type": $("#type").val(),
                        "Duration": $("#Dur").val()
                    }),
                    dataType: "json",
                    contentType: "Application/json",
                    success: function (data) {
                        layer.msg(data.Msg);
                        var index = parent.layer.getFrameIndex(window.name);
                        parent.layui.table.reload('myEmpInfo');
                        parent.layer.close(index);
                    }
                })
            })

            var data = [
                { "id": "1", "name": "晚上加班" },
                { "id": "2", "name": "周末加班" },
                { "id": "3", "name": "法定节假日加班" },
                { "id": "4", "name": "行政值班" }
            ];

            console.log(data);
            var id = $("#type").val()
            $.each(data, function (index, item) {
                $('#OvertimeTypeId').append(new Option(item.name, item.id));
                if (id == item.id) {
                    $("#OvertimeTypeId option[value='" + item.id + "']").prop("selected", true);
                }
            });
            form.render('select');
        })
      
    </script>
</body>
</html>
