@using SiliconValley.InformationSystem.Entity.MyEntity
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Brushthetopic</title>
    <link href="~/Scripts/layui/css/layui.css" rel="stylesheet" />
    <link href="~/Areas/ExaminationSystem/js/trumbowyg/design/css/trumbowyg.css" rel="stylesheet" />  
    <style>


        #warp {
            width:100%;
        }

        #titleMsg {
            width: 90%;
            border-bottom: 1px solid gray;
            margin: 20px auto;
        }

        .option {
            font-size: 14px;
            color: black;
            margin-top: 10px;
        }

        .choiceItem {
            margin-top: 30px;
        }

        #answerquestionlist {
            margin-top: 50px;
        }

        #download {
            cursor: pointer;
            color: gray;
        }

            #download:hover {
                color: blue;
            }

        .refanswer {
            display: none;
        }

        #refanswerdiv {
            height: 300px;
            width: 100%;
            background-color: gray;
            position: fixed;
            bottom: 10px;
            display: none;
            text-align: center;
        }
    </style>
</head>
<body>

    <p class="layui-elem-quote"><button type="button" id="FanHui" class="layui-btn">首页</button></p>
    @*<fieldset class="layui-elem-field layui-field-title" style="margin-top: 50px;">
        <legend>姓名:<input type="text" name="title" style="border:0px solid white;" readonly value="@ViewBag.student.Name" class="layui-input"></legend>
    </fieldset>*@
    <div id="warp" class="layui-container">

        <div id="titleMsg">
            <h1 style="text-align:center; color:gray;">刷题</h1>

            <div style="margin-top:20px;">


                <form class="layui-form">

                    <div class="layui-form-item">
                        @*<label class="layui-form-label">姓名:</label>
        <div class="layui-input-inline" style="width:80px;">
            <input type="text" name="title" style="border:0px solid white;" readonly value="@ViewBag.student.Name" class="layui-input">
        </div>*@


                        <label class="layui-form-label">选择阶段:</label>
                        <div class="layui-input-inline">
                            <select class="formitem" lay-filter="examtype" name="examtype" id="examtype">
                                @{
                                    foreach (var item in ViewBag.examtypelist)
                                    {
                                        <option grandid="@item.GrandID.Id" typeid="@item.TypeName.ID" value="@item.ID">@item.TypeName.TypeName (@item.GrandID.GrandName)</option>
                                    }
                                }
                            </select>
                        </div>


                        <div class="layui-inline" id="courseDiv">
                            <label class="layui-form-label">选择课程</label>
                            <div class="layui-input-inline">
                                <select class="" name="course" id="course">
                                    <option value="0" selected>--请选择--</option>
                                    @{
                                        foreach (var item in ViewBag.Courselist)
                                        {
                                            <option value="@item.CurriculumID">@item.CourseName</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        

                            <label class="layui-form-label">刷题类型</label>
                            <div class="layui-input-inline">
                                <select class="formitem" name="ShuaTiLeiXing" id="ShuaTiLeiXing">
                                    <option value="0" selected>--请选择--</option>
                                    <option value="1">选择题</option>
                                    <option value="2">解答题</option>
                                </select>
                            </div>
                           
                                <button type="button" id="begin" class="layui-btn layui-btn-primary formitem">开始刷题</button>
                            
                      
                    </div>

                    
                </form>


            </div>


        </div>

        <div id="questionlist" >

            <div id="choicequestionlist" style="text-align:center">


            </div>

            <div id="answerquestionlist" style="text-align:center">



            </div>
        </div>

    </div>

    <script type="text/template" id="chiosequestionTemplate">
        <div class="choiceItem"> 
            @*<input type="hidden" class="answer" value="{{=answer}}" />*@
            <label class="choicetitle" style="font-size:22px; color:gray;" oncopy="return false" oncut="return false">{{=title}}<span style="margin-left:10px;"></span></label><label style="margin-left:10px;color:red">{{=answer}}</label>
            <div style="margin-left:20px;">
                <div oncopy="return false" oncut="return false" class="option"><label style="font-size:20px;">A:</label> <label style="margin-left:10px;font-size:20px;">{{=A}}</label></div>
                <div oncopy="return false" oncut="return false" class="option"><label style="font-size:20px;">B:</label> <label style="margin-left:10px;font-size:20px;">{{=B}}</label> </div>
                <div oncopy="return false" oncut="return false" class="option"><label style="font-size:20px;">C:</label> <label style="margin-left:10px;font-size:20px;">{{=C}}</label>  </div>
                <div oncopy="return false" oncut="return false" class="option"><label style="font-size:20px;">D:</label> <label style="margin-left:10px;font-size:20px;">{{=D}}</label> </div>


            </div>
        </div>

    </script>

    <script type="text/template" id="answerquestionTemplate">
        <div class="answerItem">
            <label class="choicetitle" style="font-size:22px; color:gray;" oncopy="return false" oncut="return false">{{=title}}</label>
            <div style="margin-left:20px;">
                <div oncopy="return false" oncut="return false" class="option"><label style="color:red;margin-left:10px;font-size:20px;">{{=ref}}</label></div>
            </div>

        </div>
    </script>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/layui/layui.js"></script>
    <script src="~/Areas/ExaminationSystem/js/trumbowyg/trumbowyg.min.js"></script>
    <script src="~/Areas/ExaminationSystem/js/trumbowyg/langs/fr.js"></script>
    <script src="~/Areas/ExaminationSystem/js/trumbowyg/plugins/upload/trumbowyg.upload.min.js"></script>
    <script src="~/Areas/ExaminationSystem/js/trumbowyg/plugins/base64/trumbowyg.base64.min.js"></script>
    <script src="~/Areas/ExaminationSystem/js/jiami.js"></script>
    <script src="~/Scripts/underscore.js"></script>
    <script>

        if (!document.HTMLDOMtoString) {
            document.HTMLDOMtoString = function (HTMLDOM) {
                const div = document.createElement("div")
                div.appendChild(HTMLDOM)
                return div.innerHTML
            }
        }

        function escapeStringHTML(str) {
            str = str.replace(/&lt;/g, '<');
            str = str.replace(/&gt;/g, '>');
            return str;
        }

        var answerquestion = new Array();



        function initTextarea() {
            $('.simple-editor').trumbowyg();
            $.trumbowyg.btnsGrps.test = ['bold', 'link'];
            $.extend(true, $.trumbowyg.langs, {

                fr: {

                    align: 'Alignement',

                    image: 'Image'

                }

            });
            $('#customized-buttonpane').trumbowyg({

                lang: 'fr',

                closable: true,

                fixedBtnPane: true,

                btnsDef: {

                    // Customizables dropdowns

                    align: {

                        dropdown: ['justifyLeft', 'justifyCenter', 'justifyRight', 'justifyFull'],

                        ico: 'justifyLeft'

                    },

                    image: {

                        dropdown: ['insertImage', 'upload', 'base64'],

                        ico: 'insertImage'

                    }

                },

                btns: ['viewHTML',

                    '|', 'formatting',

                    '|', 'btnGrp-test',

                    '|', 'align',

                    '|', 'btnGrp-lists',

                    '|', 'image']

            });
            $('#form-content').trumbowyg({

                lang: 'fr',

                closable: true,

                mobile: true,

                fixedBtnPane: true,

                fixedFullWidth: true,

                semantic: true,

                resetCss: true,

                autoAjustHeight: true,

                autogrow: true

            });
            $('.editor').on('dblclick', function (e) {

                $(this).trumbowyg({

                    lang: 'fr',

                    closable: true,

                    fixedBtnPane: true

                });

            });
        }
        window.onload = function () {
            //假设这里每个五分钟执行一次test函数
            publicBusi();
        }
        function publicBusi() {
            setTimeout(publicBusi, 1000 * 60 * 3); //这里的1000表示1秒有1000毫秒,1分钟有60秒,7表示总共7分钟
            $.post('/ExaminationSystem/StudentExamSys/BrushthetopicProhibit', function (result) {
                if (result.ErrorCode == 200) {
                    console.log("当前没有已经开考的考试!");
                } else {
                    window.location.href = "/Student/Index"
                }
            });
        }

        initTextarea();
        layui.use(['form', 'layer'], function () {

            var form = layui.form;
            var layer = layui.layer;

            $(document).off("click", ".option").on("click", ".option", function () {

                $(this).find("input").click();

            });
            function loadchoicequestiondata(examtype, kecheng = "0") {

                var index = layer.load(2); //又换了种风格，并且设定最长等待10秒
                //判断如果类型是选择题就请求BrushAlltheQestion
                $.post("/ExaminationSystem/StudentExamSys/BrushAlltheQestion", { examType: examtype, kecheng: kecheng }, function (result) {
                    layer.close(index);
                    if (result.ErrorCode == 200) {

                        for (var i = 0; i < result.Data.data.length; i++) {

                            var a = $("<label></label>");
                            a.text(result.Data.data[i].OptionA);

                            var b = $("<label></label>");
                            b.text(result.Data.data[i].OptionB);


                            var c = $("<label></label>");
                            c.text(result.Data.data[i].OptionC);


                            var d = $("<label></label>");
                            d.text(result.Data.data[i].OptionD);

                            var zheng = $("<label><label>");
                            zheng.text(result.Data.data[i].Answer);

                            var title = $("<label></label>");
                            title.text(result.Data.data[i].Title);

                            var html = _.template($("#chiosequestionTemplate").html());
                            var htmldata = html({ title: document.HTMLDOMtoString(title[0]), answer: document.HTMLDOMtoString(zheng[0]), A: document.HTMLDOMtoString(a[0]), B: document.HTMLDOMtoString(b[0]), C: document.HTMLDOMtoString(c[0]), D: document.HTMLDOMtoString(d[0]) });

                            $("#choicequestionlist").append($(htmldata));

                        }
                    }

                });

            }

            function loadanswerquestiondata(examtype, kecheng = "0") {
                var index = layer.load(2); //又换了种风格，并且设定最长等待10秒
                //判断如果类型是解答题就请求BrushAlltheQuestion
                $.post("/ExaminationSystem/StudentExamSys/BrushAlltheQuestion", { examType: examtype, kecheng: kecheng }, function (result) {
                    layer.close(index);
                    if (result.ErrorCode == 200) {

                        for (var i = 0; i < result.Data.data.length; i++) {


                            var ref = $("<label></label>");

                            ref.text(result.Data.data[i].ReferenceAnswer);

                            //result.Data.data[i].ReferenceAnswer = document.HTMLDOMtoString(ref[0]);

                            //answerquestion.push(result.Data.data[i]);


                            var title = $("<label></label>");
                            title.text(result.Data.data[i].Title);
                            var html = _.template($("#answerquestionTemplate").html());
                            var htmldata = html({ title: document.HTMLDOMtoString(title[0]), ref: document.HTMLDOMtoString(ref[0]) });

                            $("#answerquestionlist").append($(htmldata));
                        }
                    }

                });

            }



            var type;
            form.on('select(examtype)', function (data) {


                var grandid;

                $(data.elem).children().each(function (index, elem) {

                    var value = $(elem).val();

                    if (value == data.value) {
                        type = $(elem).attr("typeid");
                        grandid = $(elem).attr("grandid")
                    }

                });
                if (type == "2") {
                    $.ajax({
                        url: "/ExaminationSystem/ExamArrangement/GetCourseByGrand",
                        data: { grandid: grandid },
                        dataType: "json",
                        success: function (resultData) {

                            console.log(resultData);

                            if (resultData.ErrorCode == 200) {
                                //清空赋值
                                $("#course").empty();

                                $("#course").append(new Option("课程", ""));
                                $.each(resultData.Data, function (index, item) {
                                    //赋值
                                    console.log(item.ClassNumber);
                                    $('#course').append(new Option(item.CourseName, item.CurriculumID));
                                });
                            } else {
                                layer.msg("数据加载错误！", { icon: 2 });
                                $("#course").append(new Option("暂无数据", ""));
                            }
                            layui.form.render("select");
                        }
                    });

                    $("#course").removeAttr("disabled");
                    layui.form.render("select");

                }
                else {
                    $("#course").attr("disabled", "disabled");
                    layui.form.render("select");
                }



            });

            $("#begin").click(function () {
                //把class属性的标签都禁止输入
                //$(".formitem").attr("disabled", "disabled");
                layui.form.render();
                var kecheng = "0";
                var ShuaTiLeiXing = $("#ShuaTiLeiXing").val();
                if (type == "2") {
                    kecheng = $("#course").val();
                }
                if (ShuaTiLeiXing == "0") {
                    layer.msg("请选择刷题类型!");
                }
                var examtype = $("#examtype").val();
                console.log(examtype);
                console.log(kecheng);
                console.log(ShuaTiLeiXing);
                $("#choicequestionlist").html("");
                $("#answerquestionlist").html("");
                if (ShuaTiLeiXing == "1") {
                    loadchoicequestiondata(examtype, kecheng);
                } else if (ShuaTiLeiXing == "2") {
                    loadanswerquestiondata(examtype, kecheng);
                }

            });
            //返回
            $("#FanHui").click(function () {

                window.location.href = "/student/index";
            })

        });
    </script>
</body>
</html>
