@{
    Layout = null;
}
@using SiliconValley.InformationSystem.Entity.MyEntity
@model SiliconValley.InformationSystem.Entity.MyEntity.SocialSecurityDetail
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link href="~/Scripts/layui/css/layui.css" rel="stylesheet" />
    <script src="~/Scripts/layui/layui.js"></script>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
</head>
<body>
    <div>
        
            <div class="layui-tab ">

                @{
                    List<SocialSecurityDetail> social = ViewBag.list as List<SocialSecurityDetail>;
                }
                <ul class="layui-tab-title">
                    @{
                        foreach (var i in social)
                        {
                            <li class="layui-this">补缴 @i.OverPayMonthNum 月</li>
                        }
                    }


                </ul>
                <div class="layui-tab-content">
                    @{
                        foreach (var i in social)
                        {
                    <div id="tabs" class="layui-tab-item ">
                        <form class="layui-form" action="" id="formtest" lay-filter="formtest">
                            <input name="Id" value="@i.Id" class="layui-hide" />
                            <div class="layui-container" style="margin-top:25px">
                                <div class="layui-form-item">
                                    <label class="layui-form-label">缴费基数:</label>
                                    <div class="layui-input-inline" style="width:300px;">
                                        <input type="text" name="PaymentBase" value="@i.PaymentBase" class="layui-input" />
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label">单位部分:</label>
                                    <div class="layui-input-inline" style="width:300px;">
                                        <input type="text" name="UnitTotal" value="@i.UnitTotal" class="layui-input" />
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label">个人部分:</label>
                                    <div class="layui-input-inline" style="width:300px;">
                                        <input type="text" name="PersonalTotal" value="@i.PersonalTotal" class="layui-input" />
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label">是否禁用:</label>
                                    <div class="layui-input-inline" style="width:300px;">
                                        @{
                                            if ((bool)i.IsDel)
                                            {
                                                <input type="radio" name="IsDel" value="true" title="是" checked>
                                                <input type="radio" name="IsDel" value="false" title="否">
                                                
                                            }
                                            else
                                            {
                                                <input type="radio" name="IsDel" value="true" title="是" >
                                                <input type="radio" name="IsDel" value="false" title="否" checked>
                                            }
                                        }
                                    </div>
                                </div>
                                <div class="layui-form-item" style="margin-left:50px;margin-top:70px;">
                                    <div class="layui-input-block">
                                        <button class="layui-btn " lay-submit="" type="button" lay-filter="demo1">立即提交</button>
                                        <button class="layui-btn " id="btnclose1">关闭</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                        }

                    }

                </div>
        </div>
    </div>
    <script>
        layui.use(['form', 'layedit', 'laydate','element'], function () {
            var form = layui.form,
                layer = layui.layer,
                layedit = layui.layedit,
                laydate = layui.laydate,
                element = layui.element;
            element.init();
            $("#tabs").addClass("layui-show");
            form.on('submit(demo1)', function (data) {
                console.log(data.field);
                $.ajax({
                    url: "/Personnelmatters/SocialSecurityDetail/EditSupplementaryPayment",
                    type: "post",
                    data: JSON.stringify({
                        "soc": data.field
                    }),
                    dataType: "json",
                    contentType: "Application/json",
                    success: function (data) {
                        if (data.Success) {
                            layer.alert(data.Msg, function () {
                                var index = parent.layer.getFrameIndex(window.name);
                                parent.layui.table.reload('Soctab');
                                parent.layer.close(index);
                            });
                        } else {
                            layer.alert(data.Msg);
                        }
                    }
                })
                return false;
            });

            $("#btnclose1").click(function () {
                var index = parent.layer.getFrameIndex(window.name);
                parent.layui.table.reload('Soctab');
                parent.layer.close(index);
            });            
        })
    </script>
</body>
</html>
