
@{
    Layout = null;
}
@model SiliconValley.InformationSystem.Entity.MyEntity.EmployeesInfo
@using SiliconValley.InformationSystem.Entity.MyEntity;
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EmpDetail</title>
    <link href="~/Scripts/layui/css/layui.css" rel="stylesheet" />
    <script src="~/Scripts/layui/layui.js"></script>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>

    <style>
        #but1 {
            position: absolute;
            top: 13%;
            left: 35%;
            width: 36px;
            height: 36px;
            text-align: center;
            line-height: 36px;
        }

            #but1:hover {
                background-color: aqua;
            }

        #Nation {
            width: 100px;
        }

        .linu {
            height: 120px;
        }
        td:nth-child(odd) {
            background: #C8C8C8;
        }
        table tr td {
            border: solid 2px;
            text-align: center;
            vertical-align: middle;
        }
    </style>
</head>
<body>
    <div style="margin:30px">
        <form class="layui-form" action="" lay-filter="formtest">
            <table style="width:850px">
                <tr>
                    <td>姓名</td>
                    <td>@Html.TextBoxFor(a => a.EmpName, new Dictionary<string, object>() { { "style", "border:0px" }, { "readonly", "true" }, { "class", "layui-input " } })</td>
                    <td>性别</td>
                    <td>
                        @Html.TextBoxFor(a => a.Sex, new Dictionary<string, object>() { { "style", "border:0px" }, { "readonly", "true" }, { "class", "layui-input " } })
                    </td>
                    <td rowspan="4" style="width:150px;height:199px; background-color:white;" >
                        <img id="Image" style="width:150px;height:199px;" />
                    </td>
                </tr>
                <tr>
                    <td>员工编号</td>
                    <td>
                        @Html.TextBoxFor(a => a.EmployeeId, new Dictionary<string, object>() { { "style", "border:0px" }, { "readonly", "true" }, { "class", "layui-input " } })
                    </td>
                    <td>钉钉工号</td>
                    <td>
                        @Html.TextBoxFor(a => a.DDAppId, new Dictionary<string, object>() { { "style", "border:0px" }, { "readonly", "true" }, { "class", "layui-input" } })
                    </td>
                </tr>
                <tr>
                    <td>所属部门</td>
                    <td>
                        <input type="text" id="dname" name="dname" readonly class="layui-input" style="border:0px;" />
                        </td>
                    <td>所属岗位</td>
                    <td>
                        <input type="text" id="pname" name="pname" readonly class="layui-input" style="border:0px;" />
                    </td>
                </tr>
                <tr>
                    <td>年龄</td>
                    <td>
                        @Html.TextBoxFor(a => a.Age, new Dictionary<string, object>() { { "style", "border:0px" }, { "readonly", "true" }, { "class", "layui-input" } })
                        </td>
                    <td>民族</td>
                    <td>
                        @Html.TextBoxFor(a => a.Nation, new Dictionary<string, object>() { { "style", "border:0px" }, { "readonly", "true" }, { "class", "layui-input" } })
                    </td>

                </tr>
                <tr>
                    <td>手机号码</td>
                    <td>
                        @Html.TextBoxFor(a => a.Phone, new Dictionary<string, object>() { { "style", "border:0px" }, { "readonly", "true" }, { "class", "layui-input" } })
                    </td>
                    <td>紧急联系电话</td>
                    <td colspan="2">
                        @Html.TextBoxFor(a => a.UrgentPhone, new Dictionary<string, object>() { { "style", "border:0px" }, { "readonly", "true" }, { "class", "layui-input" } })
                    </td>
                </tr>
                <tr>
                    <td>身份证号</td>
                    <td >
                        @Html.TextBoxFor(a => a.IdCardNum, new Dictionary<string, object>() { { "style", "border:0px" }, { "readonly", "true" }, { "class", "layui-input " } })
                    </td>
                    <td >身份证有效期</td>
                    <td colspan="2">
                        @Html.TextBoxFor(a => a.IdCardIndate, new Dictionary<string, object>() { { "style", "border:0px" }, { "readonly", "true" }, { "class", "layui-input" } })
                    </td>
                </tr>
                <tr>
                    <td>试用期工资</td>
                    <td >
                        @Html.TextBoxFor(a => a.ProbationSalary, new Dictionary<string, object>() { { "style", "border:0px" }, { "readonly", "true" }, { "class", "layui-input salary" } })
                    </td>
                    <td>转正后工资</td>
                    <td colspan="2">
                        @Html.TextBoxFor(a => a.Salary, new Dictionary<string, object>() { { "style", "border:0px" }, { "readonly", "true" }, { "class", "layui-input salary" } })
                    </td>
                </tr>
                <tr>
                    <td>入职时间</td>
                    <td>
                        @Html.TextBoxFor(a => a.EntryTime, new Dictionary<string, object>() { { "style", "border:0px" }, { "readonly", "true" }, { "class", "layui-input" } })
                    </td>
                    <td>转正日期</td>
                    <td colspan="2">
                        @Html.TextBoxFor(a => a.PositiveDate, new Dictionary<string, object>() { { "style", "border:0px" }, { "readonly", "true" }, { "class", "layui-input" } })
                    </td>
                </tr>
                <tr>
                    <td>合同起始时间</td>
                    <td>
                        @Html.TextBoxFor(a => a.ContractStartTime, new Dictionary<string, object>() { { "style", "border:0px" }, { "readonly", "true" }, { "class", "layui-input" } })
                    <td>合同终止时间</td>
                    <td colspan="2">
                        @Html.TextBoxFor(a => a.ContractEndTime, new Dictionary<string, object>() { { "style", "border:0px" }, { "readonly", "true" }, { "class", "layui-input" } })
                    </td>
                </tr>
                <tr>
                    <td>出生日期</td>
                    <td>
                        @Html.TextBoxFor(a => a.Birthdate, new Dictionary<string, object>() { { "style", "border:0px" }, { "readonly", "true" }, { "class", "layui-input" } })
                    </td>
                    <td>生日</td>
                    <td colspan="2">
                        @Html.TextBoxFor(a => a.Birthday, new Dictionary<string, object>() { { "style", "border:0px" }, { "readonly", "true" }, { "class", "layui-input" } })
                    </td>
                </tr>
                <tr>
                    <td>学历</td>
                    <td>
                        <input type="text" id="Education" name="Education" readonly class="layui-input" style="border:0px;" />
                    </td>
                    <td>政治面貌</td>
                    <td colspan="2">
                        <input type="text" id="PoliticsStatus" name="PoliticsStatus" readonly class="layui-input" style="border:0px;" />
                    </td>
                </tr>
                <tr>
                    <td>婚姻状态</td>
                    <td>
                        <input type="radio" name="MaritalStatus" id="MaritalStatus" value="false" title="未婚" readonly>
                        <input type="radio" name="MaritalStatus" value="true" title="已婚" readonly>
                    </td>
                    <td>社保起始月份</td>
                    <td colspan="2">
                        @Html.TextBoxFor(a => a.SSStartMonth, new Dictionary<string, object>() { { "style", "border:0px" }, { "readonly", "true" }, { "class", "layui-input" } })
                    </td>
                </tr>
                <tr>
                    <td>户籍地址</td>
                    <td colspan="4">
                        @Html.TextBoxFor(a => a.DomicileAddress, new Dictionary<string, object>() { { "style", "border:0px" }, { "readonly", "true" }, { "class", "layui-input" } })
                    </td>
                </tr>
                <tr>
                    <td>现居地址</td>
                    <td colspan="4">
                        @Html.TextBoxFor(a => a.Address, new Dictionary<string, object>() { { "style", "border:0px" }, { "readonly", "true" }, { "class", "layui-input " } })
                    </td>
                </tr>
                <tr>
                    <td>银行卡号</td>
                    <td colspan="4">
                        @Html.TextBoxFor(a => a.BCNum, new Dictionary<string, object>() { { "style", "border:0px" }, { "readonly", "true" }, { "class", "layui-input" } })
                    </td>
                </tr>
                <tr>
                    <td>招聘来源</td>
                    <td colspan="4">
                        @Html.TextAreaFor(a => a.InvitedSource, new Dictionary<string, object>() { { "style", "border:0px" }, { "readonly", "true" }, { "class", "layui-input linu" } })
                    </td>
                </tr>
                <tr>
                    <td>材料</td>
                    <td colspan="4">
                        @Html.TextAreaFor(a => a.Material, new Dictionary<string, object>() { { "style", "border:0px" }, { "readonly", "true" }, { "class", "layui-input linu" } })
                    </td>
                </tr>
                <tr>
                    <td>备注</td>
                    <td colspan="4">
                        @Html.TextAreaFor(a => a.Remark, new Dictionary<string, object>() { { "style", "border:0px" }, { "readonly", "true" }, { "class", "layui-input linu" } })
                    </td>
                </tr>
            </table>

        </form>
    </div>
    <script>

        $(function () {
            loademp();// 初始化编辑数据加载
        });
        function loademp() {
            var id = $("#EmployeeId").val();

            $.get("/Personnelmatters/EmployeesInfo/GetempById/" + id, function (data) {
                layui.use(['layer', 'form', 'table'], function () {
                    var form = layui.form;
                    // data.Sex = data.Sex.toString();
                    data.MaritalStatus = data.MaritalStatus.toString();
                    data.EntryTime = GetYMD(data.EntryTime);
                    data.PositiveDate = GetYMD(data.PositiveDate);
                    data.ContractStartTime = GetYMD(data.ContractStartTime);
                    data.ContractEndTime = GetYMD(data.ContractEndTime);
                    data.Birthdate = GetYMD(data.Birthdate);
                    data.IdCardIndate = GetYMD(data.IdCardIndate);
                    data.SSStartMonth = GetYearAndMonth(data.SSStartMonth);
                    if (data.Image != null) {
                        $("#Image")[0].src = data.Image;
                    }
                    console.log("图片：" + $("#Image")[0].src);
                    form.val("formtest", data);

                });
            })
        }

        layui.use(['form', 'layedit', 'laydate'], function () {
            var form = layui.form
                , layer = layui.layer
                , layedit = layui.layedit
                , laydate = layui.laydate;

            //日期验证
            laydate.render({
                elem: '#EntryTime',
            }); //入职时间
            laydate.render({
                elem: '#IdCardIndate',
            });//身份证有效期
            laydate.render({
                elem: '#ContractStartTime',
            });//合同起始时间
            laydate.render({
                elem: '#ContractEndTime',
            });//合同终止时间
            laydate.render({
                elem: '#Birthdate',
            });//出生日期

            ////关闭添加页面
            //$("#btnclose1").click(function () {
            //    var index = parent.layer.getFrameIndex(window.name);
            //    parent.layui.table.reload('myEmpInfo');
            //    parent.layer.close(index);
            //});
        });


        //格式化时间
        function GetYearAndMonth(cellval) {
            if (cellval != null) {
                var date;
                if (cellval.indexOf("/Date(") >= 0) {
                    date = new Date(parseInt(cellval.replace("/Date(", "").replace(")/", ""), 10));
                }
                else {
                    date = new Date(cellval);
                }

                var month = date.getMonth() + 1 < 10 ? "0" + (date.getMonth() + 1) : date.getMonth() + 1;
                var currentDate = date.getDate() < 10 ? "0" + date.getDate() : date.getDate();
                var hour = date.getHours() < 10 ? "0" + date.getHours() : date.getHours();
                var minute = date.getMinutes() < 10 ? "0" + date.getMinutes() : date.getMinutes();
                var ss = date.getSeconds() < 10 ? "0" + date.getSeconds() : date.getSeconds();

                return date.getFullYear() + "-" + month;
            } else {
                return "";
            }
        }
        //显示年月日
        function GetYMD(cellval) {
            if (cellval != null) {
                var date;
                if (cellval.indexOf("/Date(") >= 0) {
                    date = new Date(parseInt(cellval.replace("/Date(", "").replace(")/", ""), 10));
                }
                else {
                    date = new Date(cellval);
                }

                var month = date.getMonth() + 1 < 10 ? "0" + (date.getMonth() + 1) : date.getMonth() + 1;
                var currentDate = date.getDate() < 10 ? "0" + date.getDate() : date.getDate();
                var hour = date.getHours() < 10 ? "0" + date.getHours() : date.getHours();
                var minute = date.getMinutes() < 10 ? "0" + date.getMinutes() : date.getMinutes();
                var ss = date.getSeconds() < 10 ? "0" + date.getSeconds() : date.getSeconds();

                return date.getFullYear() + "-" + month + "-" + currentDate;
            } else {
                return "";
            }
        }
    </script>


</body>
</html>
