
@{
    Layout = null;
}
@using SiliconValley.InformationSystem.Entity.MyEntity
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CreateTeacherSurveyConfig</title>
    <link href="~/Scripts/layui/css/layui.css" rel="stylesheet" />
</head>
<body>
    <div>
        <h2 align="center">生成满意度问卷</h2>
        <hr />

        <form class="layui-form">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">选择班级</label>
                    <div class="layui-input-block">
                        <select id="classnumber" lay-filter="classnumber" name="classnumber">

                            <option value="0">请选择班级</option>

                            @{
                                foreach (var item in ViewBag.classlist as List<ClassSchedule>)
                                {
                                    <option value="@item.id">@item.ClassNumber</option>
                                }
                            }

                        </select>
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">选择日期</label>
                    <div class="layui-input-inline">
                        <input type="text" name="date" id="date" lay-filter="date" lay-verify="date" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input">
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                @*<label class="layui-form-label">阶段</label>
            <div class="layui-input-inline">
                <select name="Grand" lay-filter="major">
                    <option value="0">请选择</option>
                    @{
                        foreach (var item in ViewBag.Grand as List<Grand>)
                        {
                            <option value="@item.Id">@item.GrandName</option>
                        }
                    }
                </select>
            </div>*@

                <label class="layui-form-label">课程</label>
                <div class="layui-input-inline">
                    <select lay-verify="required" name="course" id="course" lay-search="">
                        <option value="0" selected>--请选择--</option>
                        @{
                            foreach (var item in ViewBag.Courselist as List<Curriculum>)
                            {
                                <option value="@item.CurriculumID">@item.CourseName</option>
                            }
                        }
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">选择部门</label>
                    <div class="layui-input-inline">
                        <select name="bumeng" id="bumeng" lay-filter="bumeng" lay-search="">
                            <option value="0">请选择部门</option>
                            @{
                                foreach (var item in ViewBag.getdepartments as List<Department>)
                                {
                                    <option value="@item.DeptId">@item.DeptName</option>
                                }
                            }

                        </select>
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">专业老师</label>
                    <div class="layui-input-inline">
                        <select name="laoshi" id="laoshi" lay-verify="required" lay-search=""></select>
                    </div>
                </div>
            </div>
            <div class="layui-form-item" id="LaoShi" style="display:none;">
                <div class="layui-inline">
                    <label class="layui-form-label">语文老师</label>
                    <div class="layui-input-inline">
                        <select name="ywlaoshi" id="ywlaoshi" lay-verify="required" lay-search=""></select>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">数学老师</label>
                        <div class="layui-input-inline">
                            <select name="sxlaoshi" id="sxlaoshi" lay-verify="required" lay-search=""></select>
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">英语老师</label>
                        <div class="layui-input-inline">
                            <select name="yylaoshi" id="yylaoshi" lay-verify="required" lay-search=""></select>
                        </div>
                    </div>
                </div>
            </div>
            <div style="width:100%;">
                <button style="width:100%" id="commit" type="button" class="layui-btn layui-btn-danger">生成</button>
            </div>

        </form>
    </div>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/layui/layui.js"></script>

    <script>

        layui.use(['laydate', 'form', 'layer'], function () {
            var laydate = layui.laydate;
            var form = layui.form;
            var layer = layui.layer;
            laydate.render({
                elem: '#date',
                format: 'yyyy-MM-dd',
                //type: 'month',
            });
            form.on('select(classnumber)', function () {
                var banji = $("#classnumber").val();
                console.log(banji);
                $.post("/Teaching/SatisfactionSurvey/HuoQulaoshi", { banjiid: banji }, function (data) {
                    console.log(data.Data);
                    if (data.Data == "YK" || data.Data == "yk") {

                        $("#LaoShi").show();

                    }
                    else {
                        $("#LaoShi").hide();
                    }
                })
            });
            form.on('select(bumeng)', function (data) {
                var value = data.value;  //select选中的值
                console.log("选中值" + value);
                $.ajax({
                    url: "/Teaching/SatisfactionSurvey/DepartmentTeacher",
                    data: { bumeng: value },
                    dataType: "json",
                    success: function (resultData) {

                        console.log(resultData);

                        if (resultData.ErrorCode == 200) {
                            //清空赋值
                            $("#laoshi").empty();
                            $("#laoshi").append(new Option("请选择老师", ""));
                            $("#ywlaoshi").empty();
                            $("#ywlaoshi").append(new Option("请选择语文老师", ""));
                            $("#sxlaoshi").empty();
                            $("#sxlaoshi").append(new Option("请选择数学老师", ""));
                            $("#yylaoshi").empty();
                            $("#yylaoshi").append(new Option("请选择英语老师", ""));
                            $.each(resultData.Data, function (index, item) {
                                //赋值
                                $('#laoshi').append(new Option(item.EmpName, item.EmployeeId));
                                $('#ywlaoshi').append(new Option(item.EmpName, item.EmployeeId));
                                $('#sxlaoshi').append(new Option(item.EmpName, item.EmployeeId));
                                $('#yylaoshi').append(new Option(item.EmpName, item.EmployeeId));
                            });
                        } else {
                            $("#laoshi").append(new Option("暂无数据", ""));
                            $("#ywlaoshi").append(new Option("暂无数据", ""));
                            $("#sxlaoshi").append(new Option("暂无数据", ""));
                            $("#yylaoshi").append(new Option("暂无数据", ""));
                        }
                        layui.form.render("select");
                    }
                });
            })
            layui.form.render("select");

            //生成
            $("#commit").click(function () {

                //获取班级
                var classnumber = $("#classnumber").val();
                //获取课程
                var skill = $("#course").val();

                //获取教学老师
                var laoshi = $("#laoshi").val();

                //获取语文老师
                var yuwen = $("#ywlaoshi").val();
                //获取数学老师
                var shuxue = $("#sxlaoshi").val();
                //获取英语老师
                var yingyu = $("#yylaoshi").val();
                //获取时间
                var riqi = $("#date").val();
                console.log(riqi);
                if (classnumber == 0 || skill == "" || laoshi == "" || riqi == "") {
                    layer.msg("请选择");

                    return;
                }

                layer.confirm("确定", function (index) {

                    //发送请求

                    $.post('/Teaching/SatisfactionSurvey/CreateTeacherSurveyConfig', { classnumber: classnumber, Curriculum: skill, laoshi: laoshi, yuwen: yuwen, shuxue: shuxue, yingyu: yingyu, riqi: riqi }, function (data) {

                        if (data.ErrorCode == 200) {

                            layer.msg("生成成功");

                            layer.close(index);

                        }

                        if (data.ErrorCode == 300) {

                            layer.msg("抱歉 ！本月满意度单已存在，下个月再来吧");
                        }

                        if (data.ErrorCode == 500) {

                            layer.msg("抱歉！服务器错误");
                        }

                    });

                });




            });

        });


    </script>
</body>
</html>
